{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block body
%}

<div class="py-10">
  <main>
    <div class="mx-auto max-w-7xl px-3 sm:px-6 lg:px-8">
      <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6">
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="mt-5 space-y-6 md:col-span-3 md:mt-0">
            <div class="md:col-span-1">
              <p class="mt-1 text-lg text-gray-500">
                Share your link to get secret drawings from your friends and
                family 🤗
              </p>
            </div>
            <div class="grid grid-cols-2 gap-6">
              <div class="col-span-6 sm:col-span-2">
                <div class="mt-1 flex rounded-md">
                  <input
                    type="text"
                    id="share-url"
                    name="share-url"
                    value="{{ request.base_url }}draw/{{user['other'].public_id}}"
                    readonly
                    id="share-url"
                    class="block w-full flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                  <button
                    type="button"
                    id="cpy-btn"
                    class="inline-flex items-center px-3 py-2 border ml-3 border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:z-10 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-5 w-5 text-gray-400"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative mt-6">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="bg-gray-50 pr-2 text-sm text-gray-500">
            Recieved Doodles
          </span>
        </div>
      </div>
      
    </div>
  </main>
</div>

{% endblock %}
